##############################
## Visual Studio Code
##############################
.vscode/
.code-workspace

##############################
## own
##############################
*.pem
/node_modules
/private_files